* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  background-color: lightgrey;
  color: #333333;
  line-height: 1.6;
  background-image: url('orangbackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar {
  background-color: black;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  height: 60px;
}

.logo {
  color: #FF4500; 
  font-size: 24px; 
}

.menu ul {
  list-style-type: none; 
  display: flex; 
  gap: 20px; 
  padding: 0; 
  margin: 0; 
}

.menu a {
  color: #FF4500; 
  text-decoration: none; 
  padding: 10px 15px; 
  border-radius: 5px; 
  transition: background-color 0.3s; 
}

.menu a:hover {
  background-color: #A9A9A9; 
}

.menu li.active a {
  background-color: white; 
  color: #FF4500; 
  padding: 10px 15px; 
  border-radius: 5px; 
}

.main {
  text-align: center; 
  padding: 100px 20px; 
  margin-top: 80px; 
  flex: 1; 
  justify-content: center; 
  align-items: center; 
  max-width: 1200px; 
  margin-left: auto; 
  margin-right: auto;
}

.grid-container {
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  gap: 20px; 
}

.box {
  background-color: lightgrey; 
  border-radius: 8px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  padding: 20px; 
  transition: transform 0.2s; 
}

.box:hover {
  transform: translateY(-5px); 
}

h2 {
  color: #FF4500; 
}

p {
  color: black; 
}

.show-link {
  color: black; 
  text-decoration: none; 
  transition: color 0.3s; 
}


.show-link:hover {
  color: #FF4500; 
}

audio {
  width: 100%; 
  max-width: 300px;
  background-color: white; 
  border: 1px solid lightgrey; 
  border-radius: 5px; 
  padding: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

audio::-webkit-media-controls-panel {
  background-color: #f0f0f0; 
}

audio::-webkit-media-controls-play-button {
  background-color: #ff7f50; 
  border-radius: 50%; 
}

footer {
  text-align: center; 
  padding: 20px; 
  background-color: black; 
  color: #FF4500; 
  width: 100%; 
}
